Repository forwards-long-jump/discotron, pull requests merged in 2019-10, with the labels that each got.

#43 Fix dashboard data loading
  bot/apis/database-crud.js
  bot/classes/guild.js
  bot/classes/login.js
  bot/discotron.js
  bot/utils/utils.js
  dashboard/src/controllers/bot-status-controller.js
  dashboard/src/controllers/guild-settings-controller.js
  dashboard/src/controllers/widgets/channel-list-widget-controller.js
  dashboard/src/controllers/widgets/user-role-widget-controller.js
  dashboard/src/models/channel.js
  dashboard/src/models/command.js
  dashboard/src/models/guild.js
  dashboard/src/models/role.js
  dashboard/src/models/user.js
  dashboard/src/utils.js
  dashboard/src/views/widgets/user-role-selector.html
Labels: category: bot, category: dashboard

#44 Move user configs outside of regular file structure
  .gitignore
  bot/classes/login.js
  bot/config/config.json
  bot/index.js
  bot/install.sh
  bot/package-lock.json
  bot/package.json
  bot/utils/database-helper.js
  bot/webserver.js
  dashboard/config/.keep
  dashboard/index.html
  dashboard/login.html
  dashboard/src/controllers/login-controller.js
  instance/README.md
Labels: category: bot, enhancement

#49 Fix inconsistent project naming.
  bot/package-lock.json
  bot/package.json
  dashboard/index.html
  dashboard/login.html
Labels: category: bot, category: dashboard, severity: low

#53 Add installation script in javascript
  bot/install.js
  bot/install.sh
  bot/package-lock.json
  bot/package.json
Labels: category: bot, severity: medium

#55 Create images for Installation wiki page
  bot/install.js
  docs/wiki/installation_bot.png
  docs/wiki/installation_generalinfo.png
  docs/wiki/installation_oauth2.png
  instance/README.md
Labels: category: documentation, enhancement

#57 Major overhaul of readme contents
  README.md
Labels: category: documentation

#59 Set up CI for ESLint
  .github/workflows/eslint-action.yml
Labels: category: documentation
